#checkout-form {
    margin: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#checkout-form section {
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 10px 20px var(--color-surface);
    padding-bottom: 4rem;
}

.delivery-form,
.payment-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.delivery-form input {
    border-radius: 3px;
    height: 30px;
}

.payment-form label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
}

.payment-form label:hover {
    cursor: pointer;
}

.cta-submit {
    margin-top: auto;
}

