@media (max-width: 1400px) {

    #product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*tablet */

@media (max-width: 1024px) {


    /*carousel*/

    .carousel img {
        width: 600px;
        height: 300px;
    }

    #product-list {
        grid-template-columns: 1fr 1fr;
    }

    .product-card {
        padding: 1rem;
        align-items: center;
        gap: 1rem;
    }
    .product-card img {
        width: 200px;
        height: 250px;
    }   


    /*product page*/

    .product-image img {
        width: 400px;
        height: 400px;
    }

    #product-details {
        grid-template-columns: 400px 1fr;
    }

      /* checkout */
    #checkout-form {
        margin: 2rem;
        grid-template-columns: 1fr;
        margin-bottom: 15rem;
    }

    .cta-submit {
        margin-top: 4rem;
    }

    .delivery-form input {
        height: 20px;
    }

}


/*mobile */

@media (max-width: 768px) {
    .desktop-nav,
    .footer-desktop {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem 0;
        width: 100%;
    }

    .logo-poppy {
        height: 50px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    nav i {
        font-size: 2rem;
    }


    /*product feed page*/

    .carousel {
        gap: 5px;
        padding: 2rem;
        margin: 1rem;
    }

    .carousel img {
        width: 250px;
        height: 150px;
    }

    .previous-button,
    .next-button {
        font-size: 0.5rem;
        padding: 10px;
    }

    .cta-view {
        font-size: 0.80rem;
        bottom: 15px;
        left: 15px;
    }

    #product-list {
        grid-template-columns: 1fr;
    }


    /*product page*/

    #product-details {
        display: flex;
        flex-direction: column;
    }

    .product-image img {
        width: 250px;
        height: 250px;
    }


    /* cart */

    #cart img {
        width: 60px;
        height: 60px;
    }

    #cart {
        max-width: 500px;
        margin: 0 auto;
        font-size: 1rem;
    }

    .cart-item h2,
    #cart-summary,
    .price,
    .item-price,
    .discount-price,
    .old-price {
        font-size: 0.80rem;
    }


    /* authentification */

    .success,
    .login-form,
    .register-form {
        margin: 2rem;
        padding: 50px;
        gap: 1rem;
        max-width: 400px;
        font-size: 1rem;
    }

    .fa-check {
        font-size: 6rem;
    }

    .login-form input,
    .register-form input {
        height: 20px;
    }

    .login-form label,
    .register-form label {
        font-size: 0.8rem;
    }

    .success h1 {
        font-size: 1.25rem;
    }

    .success img {
        height: 60px;
        width: 60px;
    
    }
}





