/*Product Page*/

#product-details {
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 3rem;
    margin: 5rem;
    max-width: 1100px;
}

.product-image,
.reviews {
    grid-column: 1;
}

.product-info {
    grid-column: 2;
    gap: 30px;
}

.product-image img {
    width: 600px;
    height: 600px;
    display: block;
}

.product-info h1,
h2 {
    text-align: start;
    margin: 0;
}

.tags,
.rating,
.description {
    padding: 20px 0;
}

.tags {
    font-size: 1rem;
}

.rating {
    font-size: 1.25rem;
}


.product-info p {
    font-size: 20px;
}

.product-cta {
    padding: 40px 0;
}


.product-info {
    margin: 15px;
}

