/*Carousel*/

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem;
}

.carousel img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

/*Product Card*/

#product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 4rem;
    margin-top: 10rem;
    background-color: var(--color-background);
}

.product-card {
    padding: 5rem;
    border-radius: 3px;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 10px 20px var(--color-surface);
}

.product-card img {
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 3px;
}

.old-price {
    text-decoration: line-through;
    color: var(--color-text);
}

.discount-price {
    color: var(--color-primary);
}

/*Product Page*/

.cta {
    border: none;
    border-radius: 3px;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
}
.cta-primary {
    background-color: var(--color-primary);
    color: var(--color-background);    
}

.cta-secondary {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.cta:hover {
    opacity: 50%;
    cursor: pointer;
}

#product-details {
    display: flex;
    gap: 4rem;
    margin: 60px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cta {
    margin-top: 3rem;
}

.product-image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}
