:root {
    --color-background: #FCFCFF;
    --color-surface: #C6C8EE;
    --color-primary: #BD6B73;
    --color-text: #2A2A2A;
    --font-primary: 'Inter', sans-serif;
}

body {
    font-family: var(--font-primary);
    background: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h1,
h2  {
    text-align: center;
    margin: 2rem;
}

img {
    border-radius: 3px;
    object-fit: cover;
}

main {
    flex: 1;
}

.logo-poppy {
    height: 80px;
}

header, 
header a,
footer {
    background-color: var(--color-surface);
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 50px;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.fa-bars {
    font-size: 2em;
    color: var(--color-text);
    margin: 10px 50px;
}


/*CTA*/

.cta {
    border: none;
    border-radius: 3px;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
}
.cta-primary {
    background-color: var(--color-primary);
    color: var(--color-background);    
}

.cta-secondary {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.cta:hover {
    opacity: 50%;
    cursor: pointer;
}

.old-price {
    text-decoration: line-through;
    color: var(--color-text);
}

.discount-price {
    color: var(--color-primary);
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content:space-around;
}



