:root {
    --color-background: #FCFCFF;
    --color-surface: #C6C8EE;
    --color-primary: #BD6B73;
    --color-text: #2A2A2A;
    --font-primary: 'Inter', sans-serif;
}

body {
    font-family: var(--font-primary);
    background: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.logo-poppy {
    height: 80px;
}

header, 
header a,
footer {
    background-color: var(--color-surface);
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 50px;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.fa-bars {
    font-size: 2em;
    color: var(--color-text);
    margin: 10px 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content:space-around;
}



